*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --orange:#3b82f6;
    --winning-blocks:#47afe6;
}
body{
    color: var(--orange);
    background-color: #3b82f6;
    font-family: "Finger Paint", cursive ;
}
h1{
    font-size: 54px;
    text-transform: uppercase;
}
.container{
    padding: 40px;
    margin: 70px;
    margin-top: 20px;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505c;
}
#gameboard{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right:2px solid;
    border-bottom: 2px solid;

}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(9n){
    border-bottom: none;
}
.box:nth-child(6){
    border-right: none;
}
.box:nth-child(8){
    border-bottom: none;
}
.box:nth-child(7){
    border-bottom: none;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px ;
    transition: 200ms transform;
    font-weight: 600;
    border: none;
}
button:hover{
    cursor: pointer;
    transform: translateY((-2px));
}
@media (max-width:450px){
    .container{
        margin:5px;
        margin-left: 10px;

    }
   
}